*{
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  margin: 0;
    background-color: #f5f5f5;
    font-family: Tahoma;
    line-height: 1.5;
}

nav {
  width: 750px;
  margin: 0 auto;
  font-family: 'Gill Sans', sans-serif;
}

nav::before {
  content: '';
  display: block;
  height: 50px;
  width: 100%;
  background: #353535;
  position: fixed;
  left: 0;
  z-index: -1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50px;
}

nav ul li {
  float: left;
}

nav ul li a {
  margin-left: 10px;
  color: white;
  display: block;
  height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
}

nav ul li a:hover {
  background: #4169E1;
  transition: all 0.17s ease-out;
}


.input{
  margin: 1.4%;
  font-size: 20px;
}
textarea {
  border: 1px solid #eee;
  transition: .3s border-color;
  width:70%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:160px;
}
textarea:hover {
  border: 1px solid #aaa;
  transition: 0.17s;
}

textarea::placeholder {

}

.button {
  text-transform: uppercase;
  margin: -1%;
  appearance:none;
  -webkit-appearance:none;
  padding:10px;
  border:none;
  background-color:#4169E1;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:30%;
  height: 40px;
  -webkit-transition: 0.20s ease; /* Safari and Chrome */
   -moz-transition: 0.20s ease; /* Firefox 4 */
   -o-transition: 0.20s ease; /* Opera */
}

.button:hover {
  cursor: pointer;
  background-color: #5d7dde;
  transition: all 0.20s ease-out;
}



.wtext {
  margin: center;
  margin: 25px;
}

@media only screen and (max-device-width : 1280px) {
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 88px;
  }
  nav::before {
    height: 88px;
  }
  nav ul li a {
    padding: 0 30.3px;
    margin-left: 10px;
    font-size: 25.6px;
    line-height: 88px;
    height: 88px;
  }
  nav {
    width: 1000px;
}




  textarea::placeholder {
    font-size: 20px;
  }
  textarea {
    height:230px;
    width:85%;
  }
  .input{
    font-size: 40px;
  }
  .button {
    width:38%;
    height: 50px;
    border-radius:9px;
  }
  .wtext{
    font-size: 17px;
  }
}

