nav {
  width: 750px;
  margin: 0 auto;
  font-family: 'Gill Sans', sans-serif;
}

nav::before {
  content: '';
  display: block;
  height: 50px;
  width: 100%;
  background: #353535;
  position: absolute;
  left: 0;
  z-index: -1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50px;
}

nav ul li {
  float: left;
}

nav ul li a {
  margin-left: 10px;
  color: white;
  display: block;
  height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
}

nav ul li a:hover {
  background: #4169E1;
  transition: all 0.17s ease-out;
}
