html{
  scroll-behavior: smooth;
}
body{
  background-color: #ffffff;
  height: 1675px;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
}
#particles-js{
  position: absolute;
  width: 100%;
  height: 65%;
  z-index: 5;
}
.menu{
  user-select: none;
  text-align: center;
  height: 107px;
  background: rgb(255,158,0);
  background: linear-gradient(90deg, rgba(255,160,0,1) 0%, rgba(255,102,0,1) 100%);
}
.menu_logo{
  z-index: 999;
  user-select: none;
  position: absolute;
  padding-top: 25px;
  padding-left: 50px;
  width: 70px;
  height: 70px;
}
.container{
  user-select: none;
  z-index: 999;
  padding-left: 120px;
}
.svgcmdmenu{
  z-index: 999;
  position: relative;
  height: 30px;
  width: 30px;
  top: -2px;
  left: -3px;
}
.svgcmdmenu_sub{
  z-index: 999;
  position: relative;
  height: 30px;
  width: 30px;
  top: -2px;
  left: -3px;
}
nav{
  user-select: none;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
nav ul{
  user-select: none;
  z-index: 999;
  list-style: none;
}
nav ul li{
  user-select: none;
  z-index: 999;
  float: left;
  padding-left: -150px;
}
nav ul li a {
  user-select: none;
  z-index: 999;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px;
}
a {
  text-decoration: none;
}
img{
  user-select: none;
}
.menutextclr {
  color: white;
  transition: all 0.3s ease;
}
.container_main{

}
.svg{
  position: relative;
  top: -1px;
  margin: 0 auto;
}
.block{
  margin-top: -60px;
}
.cm_logo{
  user-select: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  width: 150px;
  height: 150px;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: black;
}
.subtitle{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.invite_button a{
  transition: all 0.3s ease;
  width: 400px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
  background-color: #ffa000;
  border-radius: 12px;
  padding-bottom:  14px;
}
.invite_button a svg{
  position: relative;
  height: 30px;
  width: 30px;
  left: -10px;
  top: -1px;
}
.bttm{
  padding-bottom: 100px;
}
.gpt_icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.gptpng{
  position: relative;
  left: -24px;
}
.cmd_1{
  top: -10px;
  position: relative;
  width: 450px;
  text-align: left;
  max-height: 100%;
  left: 150px;
}
.cmd_title1{
  max-height: 10%;
  display: flex;
  position: relative;
  font-size: 32px;
  font-weight: 400;
  color: #303030;
  align-items: center;
  top: -15px;
}
.cmd_subtitle1{
  top: -0px;
  line-height: 1.5;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.cmd_ssubtitle1{
  top: 14px;
  line-height: 1.5;
  position: relative;
}
.cmd_ssubtitle3{
  top: 7px;
  line-height: 1.5;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.moder{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cmd_2{
  position: relative;
  left: 60px;
  width: 450px;
  text-align: left;
  top: 20px;
}
.cmd_title2{
  display: flex;
  position: relative;
  font-size: 32px;
  font-weight: 400;
  color: #303030;
  align-items: center;
  top: -15px;
  left: -100px;
}
.cmd_subtitle2{
  top: -0px;
  line-height: 1.5;
  position: relative;
  left: -100px;
}
.cmd_ssubtitle2{
  top: 7px;
  line-height: 1.5;
  position: relative;
  left: -100px;
}
.moderpng{
  position: relative;
  left: 0px;
  height: 399px;
  width: 356px;
}
.menubtn:hover{
  border-radius: 12px;
  background-color: #FFFFFF20;
}
.lights1{
  position: relative;
  top: -0px;
}
.invite_button a:hover{
  background-color: #f70;
}

.containergpt{
  position: relative;
  left: -140px;
}
.container{
  max-height: 100%;
}

.endsvgtext{
  z-index: 999;
  position: relative;
  text-align: left;
  color: #ffffff;
  top: 350px;
  left: 1300px;
}


.endsvg{
  position: relative;
  top: 5px;
}

@media only screen and (max-width: 768px) {
  .block{
    text-align: center;
  }
  .invite_button a {
    width: 335px;
  }




  .particles-container {
    display: none;
  }
  .containergpt{
    max-height: 100%;
    max-width: 30%;
    left: -0px;
  }
  .svg{
    flex-direction: column;
  }
  .cmd_1{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    left: 0px;
    font-size: 12px;
    min-width: 30%;
  }
  .cmd_title1{
    font-size: 26px;
  }
  .gpt_icon{
    flex-direction: column;
    text-align: center;
  }
  .gptpng{
    left: -5px;
    width: 274px;
    height: 270px;
  }



  .container{
    padding-left: 0px;
    padding-bottom: 40px;
    top: 40px;
  }
  .moder{
    flex-direction: column-reverse;
  }
  .moderpng{
    position: relative;
    width: 241px;
    height: 270px;
  }
  .cmd_2{
    text-align: center;
    max-width: 30%;
    left: 75px;
    z-index: 999;
  }
  .cmd_title2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    left: -75px;
  }
  .cmd_subtitle2{
    font-size: 12px;
    left: -75px;
  }
  .cmd_ssubtitle2{
    left: -74px;
    font-size: 12px;
  }
}
